# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore copies
*~

# Ignore gems
*.gem

# Ignore IDE files
.idea/**/*
.idea
Rally.ids
.DS_Store
.rvmrc
nbproject/
push
pull
